# please make sure you have already a pytorch install that is cuda enabled!
dora-search==0.1.12
diffq==0.2.1
einops==0.7.0
flake8==6.1.0
hydra-colorlog==1.2.0
hydra-core==1.3.2
julius==0.2.3
lameenc==1.7.0
museval>=0.1.0
mypy==1.6
openunmix==1.3.0
pyyaml==6.0.1
submitit==1.4.0
torch==2.7.1
torchaudio==2.7.1
tqdm==4.66.4
treetable
soundfile==0.12.1
TorchCodec==0.8.1
